* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;

  background-color: hsl(0, 0%, 95%);
}

img {
  margin-bottom: 10px;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 30px;
  color: hsl(0, 0%, 95%);
  margin: 25px 0;
  text-transform: uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 40px;
}

a {
  border-radius: 25px;
  background-color: hsl(0, 0%, 95%);
  padding: 16px 30px;
  text-decoration: none;
  margin-bottom: 40px;

}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin: 80px 225px;
  border-radius: 5px;
  overflow: hidden;
  overflow: hidden;
  position: absolute;
}

.card-cars {
  padding: 60px 50px;
}

.card-sedan {
  background-color: hsl(31, 77%, 52%);
}

.card-sedan>a {
  color: hsl(31, 77%, 52%);
}

.card-suv {
  background-color: hsl(184, 100%, 22%);
}

.card-suv>a {
  color: hsl(184, 100%, 22%);
}

.card-luxury {
  background-color: hsl(179, 100%, 13%);
}

.card-luxury>a {
  color: hsl(179, 100%, 13%);
}

@media (min-width: 1440px) {
  p {
    margin-bottom: 90px;
  }

  .container {
    flex-direction: row;
    border-radius: 7px;
  }

  .card-cars {
    width: 22vw;
    height: 70vh;
  }
}